{#{% extends "base_menu.html" %}#}
{#{% load crispy_forms_tags %}#}
{#{% block content %}#}
{##}
{##}
{#<p>#}
{#  <form method="post" id="upload_form" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    {{ form|crispy }}#}
{#      {% csrf_token %}#}
{#    <input type="submit" value="Submit">#}
{#    <input type="submit" value="Cancel" onclick="window.location.href='{% url 'ads:all' %}';return false;">#}
{#  </form>#}
{#</p>#}
{#{% csrf_token %}#}
{#<script>#}
{#const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;#}
{#</script>#}
{#<script>#}
{#$("#upload_form").submit(function() {#}
{#  console.log('Checking file size');#}
{#  if (window.File && window.FileReader && window.FileList && window.Blob) {#}
{#      var file = $('#id_{{ form.upload_field_name }}')[0].files[0];#}
{#      if (file && file.size > {{ form.max_upload_limit }} ) {#}
{#          alert("File " + file.name + " of type " + file.type + " must be < {{ form.max_upload_limit_text }}");#}
{#      return false;#}
{#    }#}
{#  }#}
{#//});#}
{#</script>#}
{#{% csrf_token %}#}
{#<script>#}
{#const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;#}
{#</script>#}
{#{% endblock %}#}
{#{% extends "base_menu.html" %}#}
{#{% load crispy_forms_tags %}#}
{#{% block content %}#}
{##}
{#<p>#}
{#  <form method="post" id="upload_form" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    {{ form|crispy }}#}
{#    <input type="submit" value="Submit">#}
{#    <input type="button" value="Cancel" onclick="window.location.href='{% url 'ads:all' %}';">#}
{#  </form>#}
{#</p>#}
{##}
{#<script>#}
{#$("#upload_form").submit(function() {#}
{#  console.log('Checking file size');#}
{#  if (window.File && window.FileReader && window.FileList && window.Blob) {#}
{#      var file = $('#id_{{ form.upload_field_name }}')[0].files[0];#}
{#      if (file && file.size > {{ form.max_upload_limit }} ) {#}
{#          alert("File " + file.name + " of type " + file.type + " must be < {{ form.max_upload_limit_text }}");#}
{#          return false;#}
{#      }#}
{#  }#}
{#//});#}
{#</script>#}
{##}
{#{% endblock %}#}


{% extends "base_menu.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <form method="post" id="upload_form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit">Submit</button>
    <input type="button" value="Bekor qilish" onclick="window.location.href='{% url 'ads:all' %}';">
  </form>


<script>
$("#upload_form").submit(function(event) {
  console.log('Fayl hajmini tekshirish');
  if (window.File && window.FileReader && window.FileList && window.Blob) {
      let file = $('#id_{{ form.upload_field_name }}')[0].files[0];
      if (file && file.size > {{ form.max_upload_limit }} ) {
      alert("Fayl " + file.name + " turi " + file.type + " maxsus hajmdan katta bo'lishi kerak: {{ form.max_upload_limit_text }}");
      event.preventDefault();  // Formani jo'natishni oldini oladi
    }
  }
});
</script>

{% endblock %}



